<div class="row">
  <div class="col-12">

      <div class="card-body text-center mt-3 shadow-general">
    <form>
      <div class="row">
        <div class="col-sm-6 p-2">
          <div class="input-group">
            <label for="space">Espaço: </label>
            <span class="input-group-addon">
                <i class="fa fa-building-o" aria-hidden="true"></i>
              </span>
              <input type="text"
              id="space"
              class="form-control"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 p-2">
            <div class="input-group">
                <label class="custom-file">

                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                  </label>

            </div>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>
