<section id="contact-section" class="bg-dark text-light mb-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center">
        <div class="p-4">
          <h1 class="display-4">Contato</h1>
          <p class="lead">
            Gostou da idéia de ter um sistema para o seu condomínio? Não perca tempo e entre em contato conosco para um orçamento.
          </p>
          <p class="lead">
            <strong>Garantimos </strong> que terá o melhor preço!
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 p-4">
        <div class="card bg-login-form text-center card-form p-2">
          <div class="card-block">
            <form>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label class="sr-only" for="name">Nome</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fa fa-user-o"></i>
                      </div>
                      <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="sr-only" for="email">E-mail</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <input type="email" name="email" class="form-control" id="email" placeholder="email@provedor.com" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="sr-only" for="password">Senha</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <textarea name="message" class="form-control" id="message" placeholder="Mensagem" required></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-outline-dark btn-block">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp; Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
