<div class="row" *ngIf="!(spacesState | async).loading">
  <div class="col-sm-6 col-md-6 col-lg-3 p-2 text-center" *ngFor="let spaceItem of (spacesState | async)?.spaces; let i = index;">
  <!-- <div class="col-sm-6 col-md-6 col-lg-3 p-2 text-center" *ngFor="let spaceItem of spaces; let i = index"> -->
    <app-space-item [space]="spaceItem" [index]="i"></app-space-item>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 text-center p-2">
    <ng-container *ngIf="!addMode; then noAddMode; else yesAddMode"></ng-container>
    <ng-template #noAddMode>
      <div class="pt-5">
        <button (click)="enableAddMode()" type="button" class="btn btn-outline-dark">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </ng-template>
    <ng-template #yesAddMode>
      <app-space-item [addMode]="addMode"></app-space-item>
    </ng-template>
  </div>
</div>
<div class="row" *ngIf="(spacesState | async).loading">
  <div class="col-12 text-center">
    <img src="../../../../assets/images/spinner.gif" class="img-responsive" style="max-height: 60px" alt="Loading...">
  </div>
</div>
