<div class="card-body text-center mt-3">
  <h4 class="card-title">{{ space.name }}</h4>
  <hr>
  <img [src]="space.picture" class="img-fluid rounded" style="max-height: 80px" alt="{{ space.name }}">
  <div class="d-inline-flex p-2">
    <button type="button" class="btn btn-outline-success m-1">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-outline-danger m-1">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>
